<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="CSS.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="inpage.js"></script>
</head>

<script>
    window.addEventListener('contextmenu', (event) => {
    event.preventDefault()
})

</script>

<body>   
    <div id="allover" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">

        </div>
    </div>
    <div class="flex-container">
        <div class="text">
            Démineur classique
        </div>
        <div class="text" id="inputs">
            <span class="span-input">Lignes<br><input type="number" value="10" min="5" max="100" id="rows"></span>
            <span class="span-input">Colonnes<br><input type="number" value="10" min="5" max="100" id="cols"></span>
            <span class="span-input">Bombes<br><input type="number" value="30" min="5" max="3000" id="bombs"></span>
            
        </div>
        <div class="text" id="confirm">
            <input type="button" onclick="createBlank()" value="Jouer !">
        </div>
        <div class="game-board" id="container-board">
            <br>
            <table id="board">
            </table>
        </div>
    </div>
        
</body>

</html>