#Titre{
    color:rgb(129, 119, 100);
    text-align:center;
    background-color: #000000;
    background-image: url(ImageTitre.JPG);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

#menu {
    z-index: 2;
    color:rgb(129, 119, 100);
    background-color: rgb(78, 60, 27);
    background-size: 300%;
    position: fixed;
    width: 100%;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(2, 120px);
  }

.menuTexte {
    font-size: 35px;
}

#invNom:hover {
    cursor: pointer;
}
#invNom:active {
    color: red;
}
#invIm {
    z-index: 2;
    top : 3em;
    position: fixed;
    display:none;
}

#CarteEvenement {
    position: fixed;
    right: 0;
    top: 45%;
    padding: 1em;
    background-color: rgba(78, 60, 27, 0.527);
    z-index: 2;
  }
#CarteEvenement:hover {
    cursor: pointer;
}


#FondTexteEvenement {
    z-index: 3;
    width: 25%;
    position: fixed;
    right: 0;
    top: 10px;
}

#Text1 {
    z-index: 4;
    position: fixed;
    font-weight: bold;
    left: 1170px;
    top: 35px;
}

#all {
    background-color: rgb(78, 60, 27);
}

.grille {
    display: grid;
    grid-template-columns: repeat(20, 75px);
    grid-gap: 0em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.carte {
    width: 100%;
}

.imageCarte {
    width : 100%;
}

#CurseurImg {
    position: absolute;
    z-index: 1;
}

#FondMenu {
    z-index: 2;
    bottom : 0em;
    position: fixed;
    display:none;
    right: 0;
}


#TabMenu {
    top: 250px;
    right: 30px;
    position: fixed;
    display: none;
    grid-template-columns: repeat(7, 100px);
    z-index: 5;
    grid-gap: 10px;
}

.TabImgTab {
    width: 100%;
}

#TabInv {
    top: 70px;
    left: 20px;
    position: fixed;
    display: none;
    grid-template-columns: repeat(7, 100px);
    z-index: 5;
    grid-gap: 10px;
}

#poubelle {
    z-index: 5;
    top: 70px;
    left: 1020px;
    width: 100px;
    position: fixed;
    display: none;
}

#Fabric1 {
    z-index: 5;
    top: 200px;
    left: 1020px;
    width: 100px;
    position: fixed;
    display: none;
}

#FabTab {
    top: 200px;
    left: 1150px;
    position: fixed;
    display: none;
    grid-template-columns: repeat(5, 50px);
    z-index: 5;
    grid-gap: 5px;
}

#Fabriquer {
    z-index: 5;
    top: 207px;
    left: 920px;
    width: 100px;
    position: fixed;
    display: none;
}

#Utiliser {
    z-index: 5;
    top: 70px;
    left: 900px;
    width: 100px;
    position: fixed;
    display: none;
}

#DansMain {
    z-index: 10;
    top: 70px;
    left: 900px;
    width: 0px;
    position: fixed;
    display: none;
}

#TourCompteur {
    position: fixed;
    color:rgb(231, 185, 59);
    right:12em;
    font-size: 35px;
}


#Life {
    color : rgb(33, 199, 75);
    position: fixed;
    right:17em;
    font-size: 35px;
}

#Food {
    color : rgb(64, 85, 177);
    position: fixed;
    right:24em;
    font-size: 35px;
}