<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Démineur - Home</title>
    <link rel="stylesheet" href="/static/CSS.css">
    <script src="/static/inpage.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.olbortrack.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>   
    

    <div class="grid-index">
        <h1>Bienvenue !</h1>
        <div class="card">
            <div class="img-text">
                <img src="flagBlanc.svg">
                Partie Coop
            </div>
            <p>Jouez et progressez jusqu’à 8 sur une même grille de démineur.</p>
            <a href="/play">
                <div class="create">
                    Créer une partie
                </div>
            </a>
        </div>

        <div class="card">
            <div class="img-text">
                <img src="bomb.svg">
                Affrontement
            </div>
            <p>Affrontez vos amis sur une grille identique, le premier à résoudre gagne !</p>
            <a href="/versus">
                <div class="create">
                    Créer une partie
                </div>
            </a>
        </div>
        <form class="search" action="/search">
            <input type="text" name="gameid" id="gameid" placeholder="Rejoindre une partie avec un code" maxlength="4">
            <input type="submit" value="Jouer !">
        </form>

        <div class="trait"></div>

        <h2>Votre profil</h2>

        <div class="search">
            <input id="name" type="text" placeholder="Votre nom de Joueur" value="">

            <div class="flags">
                <img class="flag" id="Rouge" src="flagRouge.svg" alt="">
                <img class="flag" id="Blanc" src="flagBlanc.svg" alt="">
                <img class="flag" id="Bleu" src="flagBleu.svg" alt="">
                <img class="flag" id="Cyan" src="flagCyan.svg" alt="">
                <img class="flag" id="Jaune" src="flagJaune.svg" alt="">
                <img class="flag" id="Orange" src="flagOrange.svg" alt="">
                <img class="flag" id="Rose" src="flagRose.svg" alt="">
                <img class="flag" id="Turquoise" src="flagTurquoise.svg" alt="">
                <img class="flag" id="Vert" src="flagVert.svg" alt="">
                <img class="flag" id="VertF" src="flagVertF.svg" alt="">
            </div>

            <script>
                userIndex()
            </script>
        </div>
    </div>

</body>

</html>